.container{
	background-image: url(../images/background.jpg);
}

#startgame {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	width: 50%;
	margin:  20% auto;
	font-size: 2em;
}

#header{
	text-align: center;
	font-family: 'Monoton', cursive;
	font-weight: bold;
}

#tagline{
	text-align: center;
	font-weight: lighter;
	font-family: 'Comfortaa', cursive;
}

#timer {
	text-align: right;
	margin: 7% auto 0 auto;
	font-family: 'Comfortaa', cursive;
	font-size: 125%

}
#question {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-weight: bold; 
	margin: 3% auto 0% auto; 
}

#row5 {
	margin: 7% auto 2% auto;
	width: auto;
	height: auto;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 300%%
}
#win {
	width: 50%;
	margin: 5% auto;
	text-align: center;

}
#placeholder1, #placeholder2, #placeholder3{
	font-family: 'Comfortaa', cursive;
	font-size: 300%;
	text-align: center;

}

#row6{
	margin: 2% auto 10% auto;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 300%%
}

#one, #two, #three, #four{
	background-color: #292a85;
}


#restart {
	width: 20%;
	float: right;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	background-color: #292a85;
	color: white;
	text-align: center;

}

#wrapper {
	margin: 4% auto;
}
